*{
    margin: 0px;
    padding: 0px;
}

body{
    min-width: 340px;
    min-height: 33px;
    font-size: 14px;
    margin: 8px;
    background-color: #3b4248;
}
.hidden{
    display: none;
}
.container{
    display: none;
    background-color: rgba(0,0,0,.2);
    padding: 10px;
}

h1{
     color: #01bcf3;
}
#codigo{
    color: white;
}
input[type=button]{
    background-color: rgba(0,0,0,.2);
    border: 2px solid #01bcf3;
    border-radius: 20px;
    cursor: pointer;
    color:  white;
    margin: 5px;
    padding: 5px;
    outline: none;
}
input[type=text]{
    padding: 2px;
    outline: none;
    
}
p{
    width: auto;
}
